.App {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 20vh; */
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.App-logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

h1 {
  margin: 0;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
}

.App footer a {
  color: #285172;
}
